@model SchoolTemplate.Database.Festival
@{
    ViewData["Title"] = "Festival";
}

<h1>@Model.naam</h1>
    Plaats: @Model.plaats<br />
    Start: @Model.start_dt.ToString("D") <br />
    Eind: @Model.eind_dt.ToString("D")<br />
    <img class="festival_img" src='@Model.image'/> <br />
<button class="button" onclick="location.href='/overzicht'">
    Terug
</button>